# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Windows
*.obj
*.sbr
*.tlog
*.log
*.idb
*.pdb
*.lastbuildstate
*.exe
*.dll
*.lib
*.unsuccessfulbuild
*.suo
*.sdf
*.opensdf
*.rar
*.map
*.bsc
*.opt
lib/
include/
*.ilk
*.amd
*.pak
*.wav
*.lpk
bin/screenshots/*
*.zip
*.brs
bin/assets/*
bin/data/*
bin/fonts/*
bin/screenshots/*
bin/sprites/*
bin/update.lst
bin/datalist.txt
bin/ts
bin/sprites/raws/
bin/bin
bin/*.*
bin/dump/*
bin/imagefix/*
bin/inspector/*
bin/oldui/*
cef/*
x64/

Client.VC.opendb
Client.VC.db
Client.VC.VC.opendb
.vs/
*.enc
Win32/

*.aps

bin/GPUCache/
bin/ui/
bin/bin_r/
enc_temp_folder/
